{{> layout}}

<h1>Scheduler</h1>

<table>
  <tr>
    <th>Job</th>
    <th>Owner</th>
    <th>Lease Until</th>
  </tr>
  {{#leases}}
  <tr>
    <td>{{jobName}}</td>
    <td>{{ownerId}}</td>
    <td>{{leaseUntil}}</td>
  </tr>
  {{/leases}}
</table>
