{{> layout}}

<h1>Work Requests</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Type</th>
    <th>Status</th>
    <th>Attempts</th>
    <th>Owner</th>
  </tr>

  {{#workRequests}}
  <tr>
    <td><a href="/work/{{id}}">{{id}}</a></td>
    <td>{{workType}}</td>
    <td class="status-{{status}}">{{status}}</td>
    <td>{{attempts}}</td>
    <td>{{ownerId}}</td>
  </tr>
  {{/workRequests}}
</table>
